<launch>
  <arg name="cam_path" default="/dev/video1"/>
  <!-- Camera driver for secondary Microsoft camera -->
  <node pkg="cv_camera" type="cv_camera_node" name="camera_driver_node">
      <param name="device_path" value="$(arg cam_path)" />
      <param name="frame_id" value="target_camera" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480"/>

      <remap from="camera_driver_node/image_raw" to="target_camera/image_raw" />
  </node>



  <!-- Display raw & recitfied image feeds from camera drivers -->

  <node pkg="image_view" type="image_view" name="secondary_raw_feed" >
    <remap from="image" to="/target_camera/image_raw" />       
  </node>                                                             
              

<node pkg="camera_calibration" type="cameracalibrator.py" name="calibrate" args="--size 8x5 --square 0.0425 image:=/target_camera/image_raw camera:= " output="screen"/>


</launch>
