<launch>


  Camera driver for secondary Microsoft camera -->
  <node pkg="cv_camera" type="cv_camera_node" name="camera_driver_node_1">                
      <param name="device_path"  value="/dev/video1" />                                   
      <param name="frame_id"     value="target_camera_1" />                                
      <param name="image_width"  value="640" />                                           
      <param name="image_height" value="480"/>                                            
      <param name="rate"         value="20"/>                                             

      <remap from="camera_driver_node_1/image_raw" to="target_camera_1/image_raw" />      
  </node>                                                                                      

  <node pkg="cv_camera" type="cv_camera_node" name="camera_driver_node_2">                          
      <param name="device_path"  value="/dev/video2" />                                    
      <param name="frame_id"     value="target_camera_2" />                                                    
      <param name="image_width"  value="640" />                                                                   
      <param name="image_height" value="480"/>                                                                   
      <param name="rate"         value="20"/>                                                     

      <remap from="camera_driver_nodw_2/image_raw" to="target_camera_2/image_raw" />           
  </node>                                                                                   
  <node pkg="cv_camera" type="cv_camera_node" name="camera_driver_node_3">                     
      <param name="device_path"  value="/dev/video3" />                                      
      <param name="frame_id"     value="target_camera_3" />                                  
      <param name="image_width"  value="640" />                                            
      <param name="image_height" value="480"/>                                                 
      <param name="rate"         value="20"/>                                                            
 
      <remap from="camera_driver_node_3/image_raw" to="target_camera_3/image_raw" />                       
  </node>                                                                                          

  <node pkg="image_view" type="image_view" name="feed_1" >                                               
    <param name="_image_transport" value="compressed"/>                                           
    <remap from="image" to="/target_camera_1/image_raw"/>                                           
  </node>                                                                                     
  <!--
  <node pkg="image_view" type="image_view" name="feed_2" >                                              
    <param name="_image_transport" value="compressed"/>                                        
    <remap from="image" to="/target_camera_2/image_raw"/>                                             
  </node>                                                                                    
  <node pkg="image_view" type="image_view" name="feed_3" >                                     
    <param name="_image_transport" value="compressed"/>                                       
    <remap from="image" to="/target_camera_3/image_raw"/>                                     
  </node>                                                                                           
  -->
</launch>
